In [2]:
import pandas as pd
import math
import numpy
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
invoice = pd.read_excel("CCN 4189 FBL5N_Jul-Dec 2017.XLSX",\
                        dtype={'Reference':'str',\
                               'Document Number':'str',\
                               'Clearing Document':'str'})

invoice_1 = invoice[(invoice['Clearing date'] < '20171231') \
                    & (invoice['Posting Date'] > '20171001') \
                    & (invoice['Amount in doc. curr.'] > 0)]

invoice_1.head()

,Account,Account Name,Reference,Document Number,Text,User name,Company Code,Posting Date,Document Date,Baseline Payment Dte,Net due date,Document currency,Amount in doc. curr.,Local Currency,Amount in local currency,Local currency 2,Amount in loc.curr.2,Clearing date,Clearing Document
15,8364077,Z ENERGY 2015 LIMITED,127180,974972148,NaN,TCLT,4189,2017-10-04,2017-10-04,2017-10-04,2017-12-03,USD,25120.00,USD,25120.00,USD,25120.00,2017-10-31,14000834
16,8364077,Z ENERGY 2015 LIMITED,127204,974973142,NaN,TCLT,4189,2017-10-06,2017-10-06,2017-10-06,2017-12-05,USD,25120.00,USD,25120.00,USD,25120.00,2017-10-31,14000834
17,8364077,Z ENERGY 2015 LIMITED,127220,974978105,NaN,TCLT,4189,2017-10-30,2017-10-30,2017-10-30,2017-12-29,USD,25280.00,USD,25280.00,USD,25280.00,2017-12-29,14001985
40,8156396,YHS (SINGAPORE) PTE LTD,R_1017_17,974979135,NaN,SD02,4189,2017-10-31,2017-10-31,2017-10-31,2017-11-30,SGD,11449.00,USD,8386.28,USD,8386.28,2017-10-31,100063643
41,8156396,YHS (SINGAPORE) PTE LTD,R_1017_34,974979172,NaN,RCYX,4189,2017-10-31,2017-10-31,2017-10-31,2017-11-30,SGD,1879.11,USD,1376.43,USD,1376.43,2017-10-31,100063643

In [5]:
def write_to_excel(df,name):
    writer = pd.ExcelWriter(name,  datetime_format='MM/dd/yyyy')
    df.to_excel(writer,index=False)
    writer.close()

In [7]:
invoice_uncleared = invoice_1[invoice_1['Document Number']!=invoice_1['Clearing Document']]
print "There are {0} transactions in the invoice".format(len(invoice_1))
print "There are {0} transactions in the uncleared invoice".format(len(invoice_uncleared))

write_to_excel(invoice_uncleared,"CCN 4189 uncleared.xls")

There are 15987 transactions in the invoice
There are 15792 transactions in the uncleared invoice

In [9]:
set_document_uncleared = set(invoice_uncleared['Clearing Document'].dropna().values)

len(set_document_uncleared)

6671

In [10]:
bank = pd.read_excel("CCN 4189 Bank Statements_JPM_Oct-Dec 2017.xls",sheet_name="Details")
bank.head()

,Bank ID,Bank Name,Currency,Account Number,Account Name,Transaction Date,Value Date,Description,Customer Reference,Bank Reference,...,Remarks 7,Remarks 8,Remarks 9,Remarks 10,Remarks 11,Remarks 12,Remarks 13,Remarks 14,Remarks 15,Transaction Time
0,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,BOOK TRANSFER CREDIT,SWF OF 17/10/02,1412600275HA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06:22 AM
1,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,O/B DBTCO AMERIC,4000500275FC,...,CHIP SEQ =0017062,CHIP REF =201088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06:22 AM
2,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,1IR710024595C01,2272800275FC,...,CHIP SEQ =0009109,CHIP REF =113192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:53 AM
3,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,ST10501710020844,3492800275FC,...,CHIP SEQ =0010906,CHIP REF =176057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05:23 AM
4,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,NaT,NaT,Debit Summary,2 items,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print "There are {0} transactions in the bank statements".format(len(bank['Customer Reference'].values))

There are 1322 transactions in the bank statements

In [12]:
set_invoice_ref = set(invoice_uncleared['Reference'].dropna().values)
set_bank_cust_ref = set(bank['Customer Reference'].dropna().values)
print "There are {0} unique ref. in the invoices".format(len(set_invoice_ref))
print "There are {0} unique customer ref. in the bank statements".format(len(set_bank_cust_ref))

print " {0:.2%} customers put invoice reference number in bank statements".format(len(set_bank_cust_ref)*1.0/len(set_invoice_ref))

There are 5096 unique ref. in the invoices
There are 680 unique customer ref. in the bank statements
 13.34% customers put invoice reference number in bank statements

In [13]:
def is_ref_exists(invoice_ref, cust_ref_set):
    return True in (invoice_ref in str(cust_ref) for cust_ref in cust_ref_set)

In [14]:
for ref in invoice['Document Number'].dropna().values:
    if is_ref_exists(str(ref),set_bank_cust_ref):
        print str(ref)

100060033
974972375
100060033
974964454
974968939
974972149
974977299
974981952
974984453
30000225
30000291

In [18]:
inv = invoice_uncleared[['Account Name','Amount in doc. curr.']]

In [16]:
bk = bank[['Credit Amount','Remarks 3']].dropna()

In [17]:
pd.merge(inv,bk,how="inner",left_on='Amount in doc. curr.',right_on='Credit Amount')

,Account Name,Amount in doc. curr.,Credit Amount,Remarks 3
0,Z ENERGY 2015 LIMITED,320.00,320.00,"B/O CUSTOMER=Z ENERGY LTD3 QUEENS WHARF, WELLI..."
1,CHEVRON MARINE PRODUCTS,320.00,320.00,"B/O CUSTOMER=Z ENERGY LTD3 QUEENS WHARF, WELLI..."
2,Z ENERGY 2015 LIMITED,53756.00,53756.00,"B/O CUSTOMER=Z ENERGY LTD3 QUEENS WHARF, WELLI..."
3,Z ENERGY 2015 LIMITED,25280.00,25280.00,"B/O CUSTOMER=Z ENERGY LTD3 QUEENS WHARF, WELLI..."
4,Z ENERGY 2015 LIMITED,25280.00,25280.00,"B/O CUSTOMER=Z ENERGY LTD3 QUEENS WHARF, WELLI..."
5,WEST SQUADRON MARINE SERVICES,50.00,50.00,PAY METHOD =INTERBANK GIRO
6,SAFRA NATIONAL SERVICE ASSOCIATION,50.00,50.00,PAY METHOD =INTERBANK GIRO
7,VOLVO EAST ASIA (PTE) LTD,7434.53,7434.53,PAY METHOD =INTERBANK GIRO
8,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
9,VIETSEA COMPANY PTE LTD,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
10,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
11,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
12,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
13,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
14,STANDARD MARITIME PTE LTD,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
15,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
16,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
17,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
18,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
19,STANDARD MARITIME PTE LTD,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
20,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
21,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
22,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
23,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
24,S5 ASIA PTE. LIMITED,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
25,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
26,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
27,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
28,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
29,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
...,...,...,...,...
2333,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2334,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2335,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2336,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2337,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2338,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2339,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2340,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2341,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2342,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2343,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2344,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2345,AXS PTE. LTD.,1016.50,1016.50,PAY METHOD =INTERBANK GIRO
2346,AUSTRALIA AND NEW ZEALAND,2939.10,2939.10,PAY METHOD =INTERBANK GIRO
2347,AUSTRALIA AND NEW ZEALAND,378.30,378.30,PAY METHOD =INTERBANK GIRO
2348,ARC ENERGY TRADING PTE LTD,11336736.19,11336736.19,B/O CUSTOMER=/64010085750 ARC ENERGY TRADING P...
2349,AMPOL SINGAPORE TRADING PTE LTD,1945654.43,1945654.43,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2350,AMPOL SINGAPORE TRADING PTE LTD,13688.89,13688.89,B/O CUSTOMER=/469800283 AMPOL SINGAPORE TRADIN...
2351,AMPOL SINGAPORE TRADING PTE LTD,13688.89,13688.89,B/O CUSTOMER=/469800283 AMPOL SINGAPORE TRADIN...
2352,AMPOL PROCUREMENT SERVICES PTE LTD,23810.00,23810.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2353,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2354,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2355,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2356,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2357,AMPOL PROCUREMENT SERVICES PTE LTD,154100.00,154100.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2358,AMPOL PROCUREMENT SERVICES PTE LTD,154100.00,154100.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2359,AMPOL PROCUREMENT SERVICES PTE LTD,49540.00,49540.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2360,AMPOL PROCUREMENT SERVICES PTE LTD,13400.00,13400.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
2361,AEGEAN BUNKERING (SINGAPORE),723315.78,723315.78,B/O CUSTOMER=/120103481 AEGEAN MARINE PETROLEU...
2362,AEGEAN BUNKERING (SINGAPORE),1267123.42,1267123.42,B/O CUSTOMER=/NL84ABNA0541567993 1/AEGEAN MARI...