In [75]:
import pandas as pd
import math
import numpy
import re
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
invoice = pd.read_excel("CCN 4189 FBL5N_Jul-Dec 2017.XLSX",\
                        dtype={'Reference':'str',\
                               'Document Number':'str',\
                               'Clearing Document':'str'})

invoice_1 = invoice[(invoice['Clearing date'] < '20171231') \
                    & (invoice['Posting Date'] > '20171001') \
                    & (invoice['Amount in doc. curr.'] > 0)]

invoice_1.head()

,Account,Account Name,Reference,Document Number,Text,User name,Company Code,Posting Date,Document Date,Baseline Payment Dte,Net due date,Document currency,Amount in doc. curr.,Local Currency,Amount in local currency,Local currency 2,Amount in loc.curr.2,Clearing date,Clearing Document
15,8364077,Z ENERGY 2015 LIMITED,127180,974972148,NaN,TCLT,4189,2017-10-04,2017-10-04,2017-10-04,2017-12-03,USD,25120.00,USD,25120.00,USD,25120.00,2017-10-31,14000834
16,8364077,Z ENERGY 2015 LIMITED,127204,974973142,NaN,TCLT,4189,2017-10-06,2017-10-06,2017-10-06,2017-12-05,USD,25120.00,USD,25120.00,USD,25120.00,2017-10-31,14000834
17,8364077,Z ENERGY 2015 LIMITED,127220,974978105,NaN,TCLT,4189,2017-10-30,2017-10-30,2017-10-30,2017-12-29,USD,25280.00,USD,25280.00,USD,25280.00,2017-12-29,14001985
40,8156396,YHS (SINGAPORE) PTE LTD,R_1017_17,974979135,NaN,SD02,4189,2017-10-31,2017-10-31,2017-10-31,2017-11-30,SGD,11449.00,USD,8386.28,USD,8386.28,2017-10-31,100063643
41,8156396,YHS (SINGAPORE) PTE LTD,R_1017_34,974979172,NaN,RCYX,4189,2017-10-31,2017-10-31,2017-10-31,2017-11-30,SGD,1879.11,USD,1376.43,USD,1376.43,2017-10-31,100063643

In [5]:
def write_to_excel(df,name):
    writer = pd.ExcelWriter(name,  datetime_format='MM/dd/yyyy')
    df.to_excel(writer,index=False)
    writer.close()

In [7]:
invoice_uncleared = invoice_1[invoice_1['Document Number']!=invoice_1['Clearing Document']]
print "There are {0} transactions in the invoice".format(len(invoice_1))
print "There are {0} transactions in the uncleared invoice".format(len(invoice_uncleared))

write_to_excel(invoice_uncleared,"CCN 4189 uncleared.xls")

There are 15987 transactions in the invoice
There are 15792 transactions in the uncleared invoice

In [20]:
set_document_uncleared = set(invoice_uncleared['Document Number'].values)

len(set_document_uncleared)

15756

In [72]:
bank = pd.read_excel("CCN 4189 Bank Statements_JPM_Oct-Dec 2017.xls",sheet_name="Details",\
                     dtype={'Remarks 1':'str','Remarks 5':'str'})
bank.head()

,Bank ID,Bank Name,Currency,Account Number,Account Name,Transaction Date,Value Date,Description,Customer Reference,Bank Reference,...,Remarks 7,Remarks 8,Remarks 9,Remarks 10,Remarks 11,Remarks 12,Remarks 13,Remarks 14,Remarks 15,Transaction Time
0,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,BOOK TRANSFER CREDIT,SWF OF 17/10/02,1412600275HA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06:22 AM
1,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,O/B DBTCO AMERIC,4000500275FC,...,CHIP SEQ =0017062,CHIP REF =201088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06:22 AM
2,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,1IR710024595C01,2272800275FC,...,CHIP SEQ =0009109,CHIP REF =113192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:53 AM
3,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,ST10501710020844,3492800275FC,...,CHIP SEQ =0010906,CHIP REF =176057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05:23 AM
4,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,NaT,NaT,Debit Summary,2 items,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
bank_1 = bank[(bank['Description'] != 'Debit Summary') & (bank['Description'] != 'Check Summary')]
write_to_excel(bank_1,"CCN 4189 bank statements.xls")

In [95]:
for index,row in bank_1[:2].iterrows():
    remarks = row['Remarks 1']+row['Remarks 2']+row['Remarks 3']+row['Remarks 4']+row['Remarks 5']
    match_result = re.match(r".*=PRESENTER REF.(\d+).*",remarks)
    if match_result==None:
        print remarks 
        print row["Credit Amount"]
    else:
        "reference number found: "+match_result.group(1)

u'reference number found: 17526719'

YOUR REF    =O/B DBTCO AMERICREC FROM    =DEUTSCHE BANK TRUST COMPANY AMERICAS 60 WALL STREET NEW YORK NYB/O CUSTOMER=/2016806055 GLENCORE SINGAPORE PTE LTD-BUNKER AND SEC 1 TEMASEK AVENUE 34-01 MILLENIA TOWERB/O BANK    =/04411229 DEUTSCHE BANK AG AT:BANKING AND CASH OPERATIONS ONE RAFFLES QUAY, 15-00 SOUTH TOWERSINGAPORE 048583 SINGAPOREREMARK      =17527857, 17527858, 17527860 DEBIT REF 092817409846
927560.58

In [87]:
m = re.match(r".*=PRESENTER REF.(\d+).*", "REMARK      =PRESENTER REF.17526719/HH007 /CHGS/USD25,00/ DEBIT REF 550-01-0223512")
m.group(1)

'17526719'

In [67]:
invoice_1[(invoice_1['Local Currency']=='USD') & (invoice_1['Amount in local currency']==1072538.46)]

Empty DataFrame
Columns: [Account, Account Name, Reference, Document Number, Text, User name, Company Code, Posting Date, Document Date, Baseline Payment Dte, Net due date, Document currency, Amount in doc. curr., Local Currency, Amount in local currency, Local currency 2, Amount in loc.curr.2, Clearing date, Clearing Document]
Index: []

In [60]:
invoice_1['Net due date']

15      2017-12-03
16      2017-12-05
17      2017-12-29
40      2017-11-30
41      2017-11-30
55      2017-11-30
72      2017-12-15
73      2017-12-15
74      2018-01-15
75      2018-01-15
80      2017-11-15
198     2017-11-15
200     2017-11-15
201     2017-11-15
202     2017-11-15
203     2017-11-15
204     2017-11-15
205     2017-11-15
206     2017-11-15
207     2017-11-15
208     2017-11-15
209     2017-11-15
210     2017-11-15
211     2017-11-15
212     2017-11-15
213     2017-11-15
214     2017-11-15
215     2017-11-15
216     2017-11-15
217     2017-11-15
           ...
80346   2017-12-15
80347   2017-12-15
80348   2017-12-15
80349   2017-12-15
80350   2017-12-15
80351   2017-12-15
80352   2017-12-31
80353   2017-12-31
80354   2017-12-31
80355   2017-12-31
80356   2017-12-31
80357   2017-12-31
80358   2017-12-31
80359   2017-12-31
80360   2017-12-31
80361   2017-12-31
80362   2017-12-31
80363   2017-12-31
80364   2017-12-31
80365   2017-12-31
80366   2017-12-31
80367   2017-12-31
80368   2017-12-31
80369   2017-12-31
80394   2017-12-20
80400   2017-12-31
80415   2017-12-07
80416   2017-12-07
80417   2017-12-07
80418   2017-12-07
Name: Net due date, Length: 15987, dtype: datetime64[ns]

In [61]:
invoice_1['Net due date']>= '2017-12-04 00:00:00'

15       False
16        True
17        True
40       False
41       False
55       False
72        True
73        True
74        True
75        True
80       False
198      False
200      False
201      False
202      False
203      False
204      False
205      False
206      False
207      False
208      False
209      False
210      False
211      False
212      False
213      False
214      False
215      False
216      False
217      False
         ...
80346     True
80347     True
80348     True
80349     True
80350     True
80351     True
80352     True
80353     True
80354     True
80355     True
80356     True
80357     True
80358     True
80359     True
80360     True
80361     True
80362     True
80363     True
80364     True
80365     True
80366     True
80367     True
80368     True
80369     True
80394     True
80400     True
80415     True
80416     True
80417     True
80418     True
Name: Net due date, Length: 15987, dtype: bool

In [11]:
print "There are {0} transactions in the bank statements".format(len(bank['Customer Reference'].values))

There are 1322 transactions in the bank statements

In [12]:
set_invoice_ref = set(invoice_uncleared['Reference'].dropna().values)
set_bank_cust_ref = set(bank['Customer Reference'].dropna().values)
print "There are {0} unique ref. in the invoices".format(len(set_invoice_ref))
print "There are {0} unique customer ref. in the bank statements".format(len(set_bank_cust_ref))

print " {0:.2%} customers put invoice reference number in bank statements".format(len(set_bank_cust_ref)*1.0/len(set_invoice_ref))

There are 5096 unique ref. in the invoices
There are 680 unique customer ref. in the bank statements
 13.34% customers put invoice reference number in bank statements

In [13]:
def is_ref_exists(invoice_ref, cust_ref_set):
    return True in (invoice_ref in str(cust_ref) for cust_ref in cust_ref_set)

In [14]:
for ref in invoice['Document Number'].dropna().values:
    if is_ref_exists(str(ref),set_bank_cust_ref):
        print str(ref)

100060033
974972375
100060033
974964454
974968939
974972149
974977299
974981952
974984453
30000225
30000291

In [18]:
inv = invoice_uncleared[['Account Name','Amount in doc. curr.']]

In [16]:
bk = bank[['Credit Amount','Remarks 3']].dropna()

In [19]:
pd.merge(inv,bk,how="inner",left_on='Amount in doc. curr.',right_on='Credit Amount')

,Account Name,Amount in doc. curr.,Credit Amount,Remarks 3
0,Z ENERGY 2015 LIMITED,25280.00,25280.00,"B/O CUSTOMER=Z ENERGY LTD3 QUEENS WHARF, WELLI..."
1,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
2,VIETSEA COMPANY PTE LTD,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
3,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
4,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
5,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
6,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
7,STANDARD MARITIME PTE LTD,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
8,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
9,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
10,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
11,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
12,S5 ASIA PTE. LIMITED,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
13,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
14,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
15,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
16,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
17,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
18,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
19,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
20,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
21,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
22,KINGSTATE MARITIME AGENCY,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
23,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
24,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
25,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
26,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,PAY METHOD =INTERBANK GIRO
27,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
28,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,PAY METHOD =INTERBANK GIRO
29,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,PAY METHOD =INTERBANK GIRO
...,...,...,...,...
496,EVONIK METHIONINE SEA PTE LTD,4213.13,4213.13,B/O CUSTOMER=1/EVONIK METHIONINESEA PTE LTD.3 ...
497,ENERGETIC MARKETING PTE. LTD.,202500.00,202500.00,B/O CUSTOMER=ENERGETIC MARKETING PTE. LTD.111 ...
498,ENEOS ITALSING PTE LTD,19525.31,19525.31,B/O CUSTOMER=ENEOS ITALSING PTE. LTD.9B JURONG...
499,ENEOS ITALSING PTE LTD,19525.31,19525.31,B/O CUSTOMER=ENEOS ITALSING PTE. LTD.9B JURONG...
500,EASTMAN CHEMICAL SINGAPORE PTE LTD,3165506.78,3165506.78,BENEFICIARY =CHEVRON SINGAPORE PTE LTD
501,Chevron Trading Pte. Ltd.,14788586.63,14788586.63,CHASE REF =7299SIH002330000
502,CHEVRON SINGAPORE PTE. LTD.,253834.28,253834.28,CHASE REF =7297SIH004160000
503,CHEVRON SINGAPORE PTE. LTD.,590762.04,590762.04,CHASE REF =7325SIH004690000
504,Chevron Oronite Pte Ltd.,40518.52,40518.52,EXCH RATE =1.0000000
505,Chevron Lubricants Vietnam Limited,38472.18,38472.18,EXCH RATE =1.0000000
506,Chevron Hong Kong Limited,35516.60,35516.60,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
507,Chevron Hong Kong Limited,54054.00,54054.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
508,Chevron Hong Kong Limited,34250.60,34250.60,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
509,Chevron Hong Kong Limited,46618.00,46618.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
510,Chevron Hong Kong Limited,26906.00,26906.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
511,Chevron Hong Kong Limited,26906.00,26906.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
512,Chevron (Thailand) Limited – Branch,17812.71,17812.71,"B/O CUSTOMER=CHEVRON THAILAND NGD HOLDING, LTD..."
513,CALTEX AUSTRALIA PETROLEUM PTY LTD,115746.60,115746.60,B/O CUSTOMER=/811165554 CALTEX AUSTRALIA LIMIT...
514,BP SINGAPORE PTE LTD,2613745.27,2613745.27,B/O CUSTOMER=/40550445 BP INTERNATIONAL LTD. B...
515,BILSEA INTERNATIONAL PTE LTD,1372981.39,1372981.39,B/O CUSTOMER=/0850913013 BILSEA INTERNATIONAL ...
516,BILSEA INTERNATIONAL PTE LTD,2095299.96,2095299.96,B/O CUSTOMER=/0850913013 BILSEA INTERNATIONAL ...
517,AUSTRALIA AND NEW ZEALAND,378.30,378.30,PAY METHOD =INTERBANK GIRO
518,ARC ENERGY TRADING PTE LTD,11336736.19,11336736.19,B/O CUSTOMER=/64010085750 ARC ENERGY TRADING P...
519,AMPOL SINGAPORE TRADING PTE LTD,13688.89,13688.89,B/O CUSTOMER=/469800283 AMPOL SINGAPORE TRADIN...
520,AMPOL SINGAPORE TRADING PTE LTD,13688.89,13688.89,B/O CUSTOMER=/469800283 AMPOL SINGAPORE TRADIN...
521,AMPOL PROCUREMENT SERVICES PTE LTD,154100.00,154100.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
522,AMPOL PROCUREMENT SERVICES PTE LTD,49540.00,49540.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
523,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
524,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
525,AMPOL PROCUREMENT SERVICES PTE LTD,13400.00,13400.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...