In [10]:
import pandas as pd
import math
import re
import distance
import nltk
from datetime import datetime
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
def tokenize(sent):
    """
    When passed in a sentence, tokenizes and normalizes the string,
    returning a list of lemmata.
    """
    lemmatizer = nltk.WordNetLemmatizer() 
    for token in nltk.wordpunct_tokenize(sent):
        token = token.lower()
        yield lemmatizer.lemmatize(token)

def normalized_jaccard(*args):
    try:
        return distance.jaccard(*[tokenize(arg) for arg in args])
    except UnicodeDecodeError:
        return 1.0
    
def wordsim(*args):
    return 1.0-normalized_jaccard(*args)

In [3]:
invoice = pd.read_excel("CCN 4189 FBL5N_Jul-Dec 2017.XLSX",\
                        dtype={'Reference':'str',\
                               'Document Number':'str',\
                               'Clearing Document':'str'})

invoice_1 = invoice[(invoice['Clearing date'] < '20171231') \
                    & (invoice['Posting Date'] > '20170701') \
                    & (invoice['Amount in doc. curr.'] > 0)]

invoice_1.head()

,Account,Account Name,Reference,Document Number,Text,User name,Company Code,Posting Date,Document Date,Baseline Payment Dte,Net due date,Document currency,Amount in doc. curr.,Local Currency,Amount in local currency,Local currency 2,Amount in loc.curr.2,Clearing date,Clearing Document
9,8364077,Z ENERGY 2015 LIMITED,127025,974947086,NaN,TCLT,4189,2017-07-04,2017-07-04,2017-07-04,2017-09-02,USD,82557.86,USD,82557.86,USD,82557.86,2017-09-05,14002573
10,8364077,Z ENERGY 2015 LIMITED,127099,974952978,NaN,TCLT,4189,2017-07-25,2017-07-25,2017-07-25,2017-09-23,USD,24960.00,USD,24960.00,USD,24960.00,2017-09-22,14000721
11,8364077,Z ENERGY 2015 LIMITED,127106,974954292,NaN,TCLT,4189,2017-07-31,2017-07-31,2017-07-31,2017-09-29,USD,53486.00,USD,53486.00,USD,53486.00,2017-09-29,14001766
12,8364077,Z ENERGY 2015 LIMITED,127149,974963972,NaN,TCLT,4189,2017-09-05,2017-09-05,2017-09-05,2017-11-04,USD,50240.00,USD,50240.00,USD,50240.00,2017-10-31,14000834
13,8364077,Z ENERGY 2015 LIMITED,127149,974968703,NaN,TCLT,4189,2017-09-05,2017-09-21,2017-09-05,2017-11-04,USD,320.00,USD,320.00,USD,320.00,2017-12-14,14002857

In [4]:
def write_to_excel(df,name):
    writer = pd.ExcelWriter(name,  datetime_format='MM/dd/yyyy')
    df.to_excel(writer,index=False)
    writer.close()

In [5]:
invoice_uncleared = invoice_1[invoice_1['Document Number']!=invoice_1['Clearing Document']]
print "There are {0} transactions in the invoice".format(len(invoice_1))
print "There are {0} transactions in the uncleared invoice".format(len(invoice_uncleared))

write_to_excel(invoice_uncleared,"CCN 4189 uncleared.xls")

There are 47102 transactions in the invoice
There are 46630 transactions in the uncleared invoice

In [6]:
set_document_uncleared = set(invoice_uncleared['Document Number'].values)

len(set_document_uncleared)

45920

In [8]:
bank = pd.read_excel("CCN 4189 Bank Statements_JPM_Oct-Dec 2017.xls",sheet_name="Details",\
                     dtype={'Remarks 1':'str','Remarks 2':'str','Remarks 3':'str','Remarks 4':'str',\
                            'Remarks 5':'str','Remarks 6':'str'})
bank.head()

,Bank ID,Bank Name,Currency,Account Number,Account Name,Transaction Date,Value Date,Description,Customer Reference,Bank Reference,...,Remarks 7,Remarks 8,Remarks 9,Remarks 10,Remarks 11,Remarks 12,Remarks 13,Remarks 14,Remarks 15,Transaction Time
0,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,BOOK TRANSFER CREDIT,SWF OF 17/10/02,1412600275HA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06:22 AM
1,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,O/B DBTCO AMERIC,4000500275FC,...,CHIP SEQ =0017062,CHIP REF =201088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06:22 AM
2,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,1IR710024595C01,2272800275FC,...,CHIP SEQ =0009109,CHIP REF =113192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:53 AM
3,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,2017-10-02,2017-10-02,CHIPS CREDIT,ST10501710020844,3492800275FC,...,CHIP SEQ =0010906,CHIP REF =176057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05:23 AM
4,02100002,JPMORGAN CHASE NEW YORK,USD,400944758,CHEVRON SINGAPORE PTE LTD - FAMM,NaT,NaT,Debit Summary,2 items,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
bank_1 = bank[(bank['Description'] != 'Debit Summary') & (bank['Description'] != 'Check Summary')]
print "There are {0} transactions in the bank statements".format(len(bank_1))
write_to_excel(bank_1,"CCN 4189 bank statements.xls")

There are 1079 transactions in the bank statements

In [11]:
def days_between(d1, d2):
    return abs(d2 - d1)/np.timedelta64(1, 'D')

In [28]:
n_customer=0
n_no_customer=0
n_match=0
lst_customer=[]
lst_name_match=[]
matches=[]

for index,row in bank_1[:1].iterrows():
    print "========================================================================="
    remarks = row['Remarks 1']+"|"+row['Remarks 2']+"|"+row['Remarks 3']+"|"+row['Remarks 4']+"|"+\
              row['Remarks 5']+"|"+row['Remarks 6']
    remarks = re.sub( '[\s\.]+', ' ',remarks).strip()
    remarks = remarks.replace('PETRON1/AS','PETRONAS')
    remarks = remarks.replace('PTE LT1','PTE LTD 1')
    remarks = remarks.replace('PTE LTDPAY','PTE LTD PAY')
    remarks = remarks.replace('PRIVATE LTD','PTE LTD')
    remarks = remarks.replace('LTD','LTD|')
    remarks = remarks.replace('PLC','PLC|')
    match_result = re.match(r".*B\/O CUSTOMER[\W\d\d]*([a-zA-Z\s\(\)\&]+).*",remarks)
    if match_result==None:
        print "no customer name: "+ remarks 
        n_no_customer+=1

    else:
        cust_name = match_result.group(1).replace("PTE","").replace("LTD","").replace("PLC","").strip()
        print"customer name found: "+cust_name
        n_customer+=1
        lst_customer.append(cust_name)
        amt = row['Credit Amount']
        date = row['Transaction Date']
        print "Transaction date: {1:'%Y-%m-%d'}, Credit amount: {0}, Customer Name: {2}".format(amt,date,cust_name)
        
        date_matched = invoice_1[(invoice_1['Net due date']>=date) & (invoice_1['Posting Date']<=date)]
        n_date_matched= len(date_matched)
        print "{0} invoices matches".format(n_date_matched)
        
        if(n_date_matched>0):
            match = date_matched.to_dict('records')
     
            for each in match:
                acc_inv = each['Account Name'].replace("PTE","").replace("LTD","").replace("PLC","").strip()
                amt_inv = each['Amount in doc. curr.']
                date_inv = each['Net due date']
                doc_inv = each['Document Number']
                name_score = wordsim(acc_inv,cust_name)
                amt_score = 1.0-abs(amt_inv/amt-1.0)
                date_score =  1.0-days_between(date,date_inv)/30.0
                final_score = name_score*0.3+amt_score*0.4+date_score*0.3
                

                if(final_score>0.7):
                    #print "name score: {0}  amount score: {1}  date score: {2} final score: {3}".\
                     #   format(name_score,amt_score,date_score,final_score)
                    print "invoice {3}: amount {0} from account {2} due on {1:'%Y-%m-%d'} final score: {4}".\
                        format(amt_inv,date_inv,acc_inv,doc_inv,final_score)
                    n_match+=1
                    matches.append({"Bank acc":cust_name,\
                                    "Bank date":date,"Bank amt":amt,\
                                    "Invoice acc":acc_inv,"Invoice amt":amt_inv,\
                                    "Invoice due":date_inv, "Name score":name_score,\
                                    "Amount score":amt_score,"Date score":date_score,\
                                    "Final score":final_score
                                    })
            
        else:
            print "no date range"

            #print date_matched[['Account Name','Net due date','Amount in doc. curr.']]
        

print "customer names found: {0}".format(n_customer)
print "customer names not found: {0}".format(n_no_customer)
print "final match count: {0}".format(n_match)

=========================================================================
customer name found: HIN HIN TRADING
Transaction date: '2017-10-02', Credit amount: 1072538.46, Customer Name: HIN HIN TRADING
6151 invoices matches
invoice 78000273: amount 1043338.72 from account KAIROS OIL TRADING due on '2017-10-05' final score: 0.734110044595
invoice 78000274: amount 1185918.27 from account KAIROS OIL TRADING due on '2017-10-03' final score: 0.72271534011
invoice 78000256: amount 1072563.46 from account HIN HIN TRADING due on '2017-10-02' final score: 0.999990676325
invoice 78000298: amount 893700.0 from account HIN HIN TRADING due on '2017-10-16' final score: 0.793302733032
invoice 78002253: amount 1309472.11 from account HIN HIN TRADING due on '2017-10-20' final score: 0.731636306264
invoice 78002258: amount 1035446.53 from account HIN HIN TRADING due on '2017-10-27' final score: 0.736166676018
invoice 78002293: amount 1328873.86 from account HIN HIN TRADING due on '2017-10-10' final score: 0.824400481825
invoice 78002302: amount 1333567.76 from account HIN HIN TRADING due on '2017-10-10' final score: 0.822649905906
invoice 78012417: amount 1342015.74 from account HIN HIN TRADING due on '2017-10-10' final score: 0.819499257118
invoice 78012423: amount 736310.27 from account HIN HIN TRADING due on '2017-10-09' final score: 0.804604705551
invoice 78012425: amount 1165769.09 from account HIN HIN TRADING due on '2017-10-19' final score: 0.795229916324
customer names found: 1
customer names not found: 0
final match count: 11

In [311]:
pd_matched = pd.DataFrame(matches)[['Bank acc','Bank date','Bank amt','Invoice account','Invoice due','Invoice amt','Name score',\
                       'Date score','Amount score','Final score']]

write_to_excel(pd_matched,"matched_transactions.xls")

In [158]:
set(lst_customer)

{'AEGEAN MARINE PETROLEUM NETWORK IN',
 'AKR CORPORINDO PT',
 'ALLIANCE CONCRETE',
 'AMAZE CARCARE SERVICES PTE LTD',
 'AMERICAN EXPRESS INTERNATIONAL INC',
 'AMPOL SINGAPORE TRADING PTE LTD',
 'ANZ SG',
 'ARC ENERGY TRADING PTE LTD',
 'ASIAPAC TRADING PTE LTD',
 'AXIS FOCUS SDN BHD SUITE',
 'AXS PTE LTD',
 'BE',
 'BILSEA INTERNATIONAL PTE LTD',
 'BLACKHEM (M) SDN BHD UNIT NO',
 'BP INTERNATIONAL LTD',
 'BRIGHTOIL PETROLEUM (SPORE) PTE LTD',
 'BTS TANKERS PTE LIMITEDMAYBANK TOWER',
 'BUKIT BATOK DRIVING CENTRE LTD',
 'CABINDA GULF OIL COMPANY LIMITED',
 'CALTEX AUSTRALIA LIMITED TREASURY OPERATIONS LVL',
 'CH',
 'CHASSGSG',
 'CHEMOIL INTERNATIONALPTE LTD',
 'CHEV MARINE PRODUCTS LLC',
 'CHEVRON (CHINA) INVESTMENT CO LTUNIT',
 'CHEVRON (THAILAND ) LIMITED',
 'CHEVRON (TIANJIN) LUBRICANTS CONO',
 'CHEVRON CAMBODIA LIMITED',
 'CHEVRON HOLDINGS INC',
 'CHEVRON HOLDINGS INC TAIWAN BRANCH',
 'CHEVRON HONG KONG LTD',
 'CHEVRON INTERNATIONAL OIL CO',
 'CHEVRON INTERNATIONAL PTE LTD',
 'CHEVRON LUBRICANTS LANKA PLC',
 'CHEVRON LUBRICANTS VIETNAM LIMITEDDINH VU INDUSTRIAL PARKHAI PHONG CITY VIETNAM',
 'CHEVRON MALAYSIA LIMITED',
 'CHEVRON MALAYSIA LIMITED MALAYSIA DOMI MALAYSIA NATO MALAYSIA',
 'CHEVRON ORONITE PTE LTD',
 'CHEVRON PAKISTAN LUBRICANTS(PRIVATE) LIMITED',
 'CHEVRON PHILIPPINES INC',
 'CHEVRON PRODUCTS COMPANY',
 'CHEVRON SERVICES COMPANY',
 'CHEVRON SHIPPING COMPANY LLC',
 'CHEVRON SINGAPORE PTE LTD',
 'CHEVRON THAILAND NGD HOLDING',
 'CHEVRON TRADING PTE LTD',
 'CHEVRON TRANSPORT CORPORATION',
 'CHEVRON USA INC (SG BR)',
 'CHEVRON USA SINGAPORE BRANCH',
 'CHIMBUSCO PAN NATION PETRO',
 'CHOP YEW LEE ENERGY SDN BHD',
 'CHV INT',
 'CHVMARINEPRODUCTLLC',
 'COASTAL OIL SINGAPORE PTE LTD',
 'COMPENSATION DEPT',
 'CUSA SINGAPORE BR',
 'CUST',
 'DBS INTERNET BANKING',
 'DEKA SINGAPORE RAFFL',
 'DK',
 'ENEOS ITALSING PTE LTD',
 'ENERGETIC MARKETING PTE LTD',
 'ENVIRON SPECIALITY CHEMICALS P LTD',
 'EQUATORIAL MARINE FUEL MANAGEMENT SERVICES PTE LTD',
 'EVONIK METHIONINE SEA PTE LTD',
 'EVONIK METHIONINESEA PTE LTD',
 'EVONIK OIL ADDITIVES ASIA PACIFIC',
 'EXXONMOBIL CHEMICAL ASIA PACIFIC (A',
 'EXXONMOBIL OIL CORPORATION',
 'F',
 'FLEXSYS CHEMICALS(M) SDN BHDLOT',
 'FRATELLI COSULICH BUNKERS (S) PTE LTD',
 'FUCHS LUBRICANTS INDIA PVT LTD',
 'FUCHS LUBRICANTS(INDIA) PVT LTD',
 'GAC (SINGAPORE) PTE LTD',
 'GB',
 'GLENCORE SINGAPORE PTE LTD',
 'GLENCORE SINGAPORE PTELTD',
 'GOLDBELL ENGINEERING',
 'GOLDEN OCEAN CAR CARE',
 'GS CALTEX CORPORATION GS TOWER',
 'GS CALTEX CORPORATION YEOKSAM',
 'GS CALTEX CORPORATIONGS TOWER',
 'GS CALTEX CORPORATIONYEOKSAM',
 'GTL AGENCIES (S) PRIVATE LIMITED',
 'H HIN HIN TRADING PTE LTD',
 'HIN HIN TRADING PRIVATE LIMITED',
 'HIN HIN TRADING PTE LTD',
 'HOCK SENG HENG TRANSPORT ANDTRADING PL NO',
 'HOCK SENG HENG TRANSPORT ANDTRADING PTE LTD',
 'HOMETEAMNS',
 'HONG KONG INTERNATIONAL CAPITAL LTD',
 'HSBC LTD',
 'IC NO',
 'ID NO',
 'INCHCAPE SHIPPING SERVICES (S) P L',
 'INTER',
 'INTER TERMINAL SERVICES',
 'IPTISAN SDN BHD',
 'IRAS',
 'JSSPL PORT AGENCIES',
 'JURONG BARRELS & DRUMS IND PTE LTD',
 'JXTG NIPPON OIL AND ENERGY CORPORATION',
 'KAIROS OIL TRADING',
 'KIM TIONG ENTERPRISES PTE LTD',
 'LEY CHOON CONSTRUCTIONS AND ENGINEERING PTE LTD',
 'LINDE GAS SINGAPORE PTE LTD',
 'LUBRIZOL SOUTHEAST ASIA PTE LTD',
 'MAPTRASCO DATE OF REG',
 'MERCURIA ENERGY TRADING PTE LTD',
 'MING HUP TRADING PTE LTD',
 'MITSUI N CO (ASIA PACIFIC) PTE LTD',
 'MPA',
 'MPT OIL PTE LTD',
 'MULTICO MARKETING AND SERVICES PTELTD',
 'NETS (S) Pte Ltd',
 'NEWOCEAN FUEL (SINGAPORE) PTE LTD',
 'NL',
 'NOMURA JIMUSHO INC',
 'NSL FUEL MANAGEMENT SERVICES PTE LTD',
 'NSL OILCHEM SERVICES',
 'OCBC GROUP ACCOUNTS',
 'OPEC PTE LTD',
 'OXALIS SHIPPING CO PTE LTD',
 'P',
 'PETROLIAM NASIONAL BERHAD (PETRONAS)',
 'PETROTRADE PHILIPPINES INC',
 'PHILIP MORRIS SINGAPORE PTE LTD',
 'PREMIER TAXIS P L',
 'PT CHEVRON OIL PRODUCTS INDONESIA',
 'PT CHEVRON PACIFIC INDONESIAGEDUNG SENTRAL SENAYAN I FL',
 'PT MULTI TRADING PRATAMA JL LURE NO',
 'PT NUSARAYA PUTRA MANDIRI',
 'PTT INTERNATIONAL TRADING PTE LTD',
 'PTT PUBLIC COMPANY LIMITED',
 'QASTALANI S',
 'QASTALANI SDN BHD',
 'QASTALANI SDN BHD NO',
 'S OIL',
 'SAFRA',
 'SAMBO E&C CO LTD',
 'SAMWOH CORPORATION',
 'SENTEK MARINE N TRADING PTE LTD',
 'SENTEK MARINE TRADING P L DATE OF REG',
 'SENTEK MARINE TRADING PTE LTD',
 'SFC EXCELLENCE CO',
 'SG SHIPPING PTE LTD',
 'SGACU',
 'SGD',
 'SHELL EASTERN PETROLEUM (PTE) LIMIT',
 'SHELL EASTERN TRADING (PRIVATE)',
 'SINGAPORE PETROLEUM COMPANY LTD',
 'SINGAPORE REFINING COMPANY PTE LTD',
 'SINOPEC FUEL OIL (SINGAPORE) PTE LTD',
 'SINOPEC LUBRICANT (SG) PTE LTD',
 'SK ENERGY INTERNATIONAL PTE LTD',
 'SOUND AGENTS LIMITED',
 'SOUND AGENTS LIMITED ADD',
 'SOUND AGENTS LTD',
 'SPORE POST LTD',
 'STAMFORD AMERICAN INTERNATIONAL SCH PL',
 'STAR PETROLEUM REFINING COMPANY LTD',
 'STELLA CHEMIFA SINGAPORE PTE LTD',
 'Siltronic Singapore Pte Ltd',
 'Singapore Petroleum',
 'Singapore Refining Company PrivateLimited',
 'TAIKO ACID WORKS SDN BHDNO',
 'TEN & HAN TRADING PTE LTD',
 'TEXAS PETROCHEMICAL ASIA PACIFICPTE LTD',
 'TF',
 'TOTAL OIL ASIA',
 'TOYOTA TSUSHO PETROLEUM PTE LTD',
 'TZR',
 'UNIVERSAL CONSULTANTPTE LTD',
 'UNIX LINE PTE LTD',
 'USD',
 'UTUSAN MEWAH SDN BHD',
 'UTUSAN MEWAH SDN BHD NO',
 'VIETNAM LUBRICANTS AND CHEMICALJSC',
 'VIETNAM LUBRICANTS AND CHEMICALSJ',
 'VIETSEA COMPANY PTE LTD',
 'VOLVO EAST ASIA PTE LTD',
 'VOLVO MALAYSIA SDN BHD FKA FEDERALAUTO INDUSTRIAL SDN BHD',
 'Volvo East Asia (Pte) Ltd',
 'WANA INDAH ASRI JL KOMPLEK LANDMARK DELTA C NO',
 'WANA INDAH ASRI KOMPLEK LANDMARK DELTA C',
 'Z ENERGY LTD'}

In [21]:
for index,row in bank_1[:3].iterrows():
    print "========================================================================="
    remarks = row['Remarks 1']+row['Remarks 2']+row['Remarks 3']+row['Remarks 4']+row['Remarks 5']
    match_result = re.match(r".*=PRESENTER REF.(\d+).*",remarks)
    if match_result==None:
        print remarks 
        print row["Credit Amount"]
    else:
        ref = match_result.group(1)
        print"reference number found: "+ref
        print "invoice matched: " 
        for inv in invoice_1[invoice_1.Reference==ref].to_dict('records'):
            print inv

=========================================================================
reference number found: 17526719
invoice matched:
{u'Company Code': 4189, u'Clearing Document': '14002650', u'Account': 8217247, u'Reference': '17526719', u'Net due date': Timestamp('2017-10-02 00:00:00'), u'Text': u'Jaya Ocean-20170904-Asphalt BTB  2017-08Aug', u'Local currency 2': u'USD', u'Baseline Payment Dte': Timestamp('2017-10-02 00:00:00'), u'User name': u'XI_PC8008', u'Local Currency': u'USD', u'Document Number': '78000256', u'Amount in loc.curr.2': 1072563.46, u'Account Name': u'HIN HIN TRADING PTE LTD', u'Amount in doc. curr.': 1072563.46, u'Document Date': Timestamp('2017-09-04 00:00:00'), u'Document currency': u'USD', u'Clearing date': Timestamp('2017-10-02 00:00:00'), u'Amount in local currency': 1072563.46, u'Posting Date': Timestamp('2017-09-01 00:00:00')}
=========================================================================
YOUR REF    =O/B DBTCO AMERICREC FROM    =DEUTSCHE BANK TRUST COMPANY AMERICAS 60 WALL STREET NEW YORK NYB/O CUSTOMER=/2016806055 GLENCORE SINGAPORE PTE LTD-BUNKER AND SEC 1 TEMASEK AVENUE 34-01 MILLENIA TOWERB/O BANK    =/04411229 DEUTSCHE BANK AG AT:BANKING AND CASH OPERATIONS ONE RAFFLES QUAY, 15-00 SOUTH TOWERSINGAPORE 048583 SINGAPOREREMARK      =17527857, 17527858, 17527860 DEBIT REF 092817409846
927560.58
=========================================================================
YOUR REF    =1IR710024595C01REC FROM    =THE BANK OF NEW YORK MELLON 225 LIBERTY STREET NEW YORK NY 10005-2901B/O CUSTOMER=/4519015182 MERCURIA ENERGY TRADING PTE LTD 12 MARINA VIEW,ASIA SQUARE TOWER 2,26-01,SINGAPORE 018961, SINGAPOREB/O BANK    =UNITED OVERSEAS BANK LTD GOH SHUH HUA GFCS GF ENTITY REPORT N CTRL 156 CECIL STREET 06 06 FAR SINGAPORE SINGAPORE 06954-4REMARK      =1208312 17528773 DEBIT REF F9S1710027581100
629371.84

In [87]:
m = re.match(r".*=PRESENTER REF.(\d+).*", "REMARK      =PRESENTER REF.17526719/HH007 /CHGS/USD25,00/ DEBIT REF 550-01-0223512")
m.group(1)

'17526719'

In [67]:
invoice_1[(invoice_1['Local Currency']=='USD') & (invoice_1['Amount in local currency']==1072538.46)]

Empty DataFrame
Columns: [Account, Account Name, Reference, Document Number, Text, User name, Company Code, Posting Date, Document Date, Baseline Payment Dte, Net due date, Document currency, Amount in doc. curr., Local Currency, Amount in local currency, Local currency 2, Amount in loc.curr.2, Clearing date, Clearing Document]
Index: []

In [60]:
invoice_1['Net due date']

15      2017-12-03
16      2017-12-05
17      2017-12-29
40      2017-11-30
41      2017-11-30
55      2017-11-30
72      2017-12-15
73      2017-12-15
74      2018-01-15
75      2018-01-15
80      2017-11-15
198     2017-11-15
200     2017-11-15
201     2017-11-15
202     2017-11-15
203     2017-11-15
204     2017-11-15
205     2017-11-15
206     2017-11-15
207     2017-11-15
208     2017-11-15
209     2017-11-15
210     2017-11-15
211     2017-11-15
212     2017-11-15
213     2017-11-15
214     2017-11-15
215     2017-11-15
216     2017-11-15
217     2017-11-15
           ...
80346   2017-12-15
80347   2017-12-15
80348   2017-12-15
80349   2017-12-15
80350   2017-12-15
80351   2017-12-15
80352   2017-12-31
80353   2017-12-31
80354   2017-12-31
80355   2017-12-31
80356   2017-12-31
80357   2017-12-31
80358   2017-12-31
80359   2017-12-31
80360   2017-12-31
80361   2017-12-31
80362   2017-12-31
80363   2017-12-31
80364   2017-12-31
80365   2017-12-31
80366   2017-12-31
80367   2017-12-31
80368   2017-12-31
80369   2017-12-31
80394   2017-12-20
80400   2017-12-31
80415   2017-12-07
80416   2017-12-07
80417   2017-12-07
80418   2017-12-07
Name: Net due date, Length: 15987, dtype: datetime64[ns]

In [61]:
invoice_1['Net due date']>= '2017-12-04 00:00:00'

15       False
16        True
17        True
40       False
41       False
55       False
72        True
73        True
74        True
75        True
80       False
198      False
200      False
201      False
202      False
203      False
204      False
205      False
206      False
207      False
208      False
209      False
210      False
211      False
212      False
213      False
214      False
215      False
216      False
217      False
         ...
80346     True
80347     True
80348     True
80349     True
80350     True
80351     True
80352     True
80353     True
80354     True
80355     True
80356     True
80357     True
80358     True
80359     True
80360     True
80361     True
80362     True
80363     True
80364     True
80365     True
80366     True
80367     True
80368     True
80369     True
80394     True
80400     True
80415     True
80416     True
80417     True
80418     True
Name: Net due date, Length: 15987, dtype: bool

In [12]:
set_invoice_ref = set(invoice_uncleared['Reference'].dropna().values)
set_bank_cust_ref = set(bank['Customer Reference'].dropna().values)
print "There are {0} unique ref. in the invoices".format(len(set_invoice_ref))
print "There are {0} unique customer ref. in the bank statements".format(len(set_bank_cust_ref))

print " {0:.2%} customers put invoice reference number in bank statements".format(len(set_bank_cust_ref)*1.0/len(set_invoice_ref))

There are 5096 unique ref. in the invoices
There are 680 unique customer ref. in the bank statements
 13.34% customers put invoice reference number in bank statements

In [13]:
def is_ref_exists(invoice_ref, cust_ref_set):
    return True in (invoice_ref in str(cust_ref) for cust_ref in cust_ref_set)

In [14]:
for ref in invoice['Document Number'].dropna().values:
    if is_ref_exists(str(ref),set_bank_cust_ref):
        print str(ref)

100060033
974972375
100060033
974964454
974968939
974972149
974977299
974981952
974984453
30000225
30000291

In [18]:
inv = invoice_uncleared[['Account Name','Amount in doc. curr.']]

In [16]:
bk = bank[['Credit Amount','Remarks 3']].dropna()

In [19]:
pd.merge(inv,bk,how="inner",left_on='Amount in doc. curr.',right_on='Credit Amount')

,Account Name,Amount in doc. curr.,Credit Amount,Remarks 3
0,Z ENERGY 2015 LIMITED,25280.00,25280.00,"B/O CUSTOMER=Z ENERGY LTD3 QUEENS WHARF, WELLI..."
1,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
2,VIETSEA COMPANY PTE LTD,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
3,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
4,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
5,VIETSEA COMPANY PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
6,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
7,STANDARD MARITIME PTE LTD,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
8,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
9,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
10,STANDARD MARITIME PTE LTD,600.00,600.00,PAY METHOD =INTERBANK GIRO
11,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
12,S5 ASIA PTE. LIMITED,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
13,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
14,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
15,S5 ASIA PTE. LIMITED,600.00,600.00,PAY METHOD =INTERBANK GIRO
16,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
17,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
18,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
19,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
20,RAYSUN SHIPPING LINES AGENCIES PTE,600.00,600.00,PAY METHOD =INTERBANK GIRO
21,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
22,KINGSTATE MARITIME AGENCY,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
23,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
24,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
25,KINGSTATE MARITIME AGENCY,600.00,600.00,PAY METHOD =INTERBANK GIRO
26,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,PAY METHOD =INTERBANK GIRO
27,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,B/O CUSTOMER=BTS TANKERS PTE LIMITEDMAYBANK TO...
28,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,PAY METHOD =INTERBANK GIRO
29,INCHCAPE SHIPPING SERVICES (S) P L,600.00,600.00,PAY METHOD =INTERBANK GIRO
...,...,...,...,...
496,EVONIK METHIONINE SEA PTE LTD,4213.13,4213.13,B/O CUSTOMER=1/EVONIK METHIONINESEA PTE LTD.3 ...
497,ENERGETIC MARKETING PTE. LTD.,202500.00,202500.00,B/O CUSTOMER=ENERGETIC MARKETING PTE. LTD.111 ...
498,ENEOS ITALSING PTE LTD,19525.31,19525.31,B/O CUSTOMER=ENEOS ITALSING PTE. LTD.9B JURONG...
499,ENEOS ITALSING PTE LTD,19525.31,19525.31,B/O CUSTOMER=ENEOS ITALSING PTE. LTD.9B JURONG...
500,EASTMAN CHEMICAL SINGAPORE PTE LTD,3165506.78,3165506.78,BENEFICIARY =CHEVRON SINGAPORE PTE LTD
501,Chevron Trading Pte. Ltd.,14788586.63,14788586.63,CHASE REF =7299SIH002330000
502,CHEVRON SINGAPORE PTE. LTD.,253834.28,253834.28,CHASE REF =7297SIH004160000
503,CHEVRON SINGAPORE PTE. LTD.,590762.04,590762.04,CHASE REF =7325SIH004690000
504,Chevron Oronite Pte Ltd.,40518.52,40518.52,EXCH RATE =1.0000000
505,Chevron Lubricants Vietnam Limited,38472.18,38472.18,EXCH RATE =1.0000000
506,Chevron Hong Kong Limited,35516.60,35516.60,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
507,Chevron Hong Kong Limited,54054.00,54054.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
508,Chevron Hong Kong Limited,34250.60,34250.60,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
509,Chevron Hong Kong Limited,46618.00,46618.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
510,Chevron Hong Kong Limited,26906.00,26906.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
511,Chevron Hong Kong Limited,26906.00,26906.00,B/O CUSTOMER=CHEVRON HONG KONG LTDUNIT 1501 15...
512,Chevron (Thailand) Limited â€“ Branch,17812.71,17812.71,"B/O CUSTOMER=CHEVRON THAILAND NGD HOLDING, LTD..."
513,CALTEX AUSTRALIA PETROLEUM PTY LTD,115746.60,115746.60,B/O CUSTOMER=/811165554 CALTEX AUSTRALIA LIMIT...
514,BP SINGAPORE PTE LTD,2613745.27,2613745.27,B/O CUSTOMER=/40550445 BP INTERNATIONAL LTD. B...
515,BILSEA INTERNATIONAL PTE LTD,1372981.39,1372981.39,B/O CUSTOMER=/0850913013 BILSEA INTERNATIONAL ...
516,BILSEA INTERNATIONAL PTE LTD,2095299.96,2095299.96,B/O CUSTOMER=/0850913013 BILSEA INTERNATIONAL ...
517,AUSTRALIA AND NEW ZEALAND,378.30,378.30,PAY METHOD =INTERBANK GIRO
518,ARC ENERGY TRADING PTE LTD,11336736.19,11336736.19,B/O CUSTOMER=/64010085750 ARC ENERGY TRADING P...
519,AMPOL SINGAPORE TRADING PTE LTD,13688.89,13688.89,B/O CUSTOMER=/469800283 AMPOL SINGAPORE TRADIN...
520,AMPOL SINGAPORE TRADING PTE LTD,13688.89,13688.89,B/O CUSTOMER=/469800283 AMPOL SINGAPORE TRADIN...
521,AMPOL PROCUREMENT SERVICES PTE LTD,154100.00,154100.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
522,AMPOL PROCUREMENT SERVICES PTE LTD,49540.00,49540.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
523,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
524,AMPOL PROCUREMENT SERVICES PTE LTD,23628.80,23628.80,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...
525,AMPOL PROCUREMENT SERVICES PTE LTD,13400.00,13400.00,B/O CUSTOMER=AMPOL SINGAPORE TRADING PTE LTD3 ...